@import-normalize;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body > #root > div {
  height: 100vh;
}

@font-face {
  font-family: 'LexendDeca';
  src: local('LexendDeca'), url(./assets/fonts/LexendDeca-Regular.ttf),
    format('truetype');
}

body,
html {
  font-family: LexendDeca, sans-serif;
}
