.change-password-container {
  display: flex;
  flex-direction: row;
}

.change-password-container button:hover {
  transition: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.side-bar {
  display: flex;
  flex-direction: column;
  padding-top: 32px;
  padding-left: 60px;
  min-width: 300px;
  min-height: 100%;
  background: #040609;
  overflow-y: scroll;
}

.side-bar::-webkit-scrollbar {
  display: none;
}

.side-bar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.side-bar-title {
  width: 202px;
  height: 52px;
  font-weight: 700;
  font-size: 30px;
  line-height: 45px;
  color: #16c57e;
}

.side-bar-btn-container {
  margin-top: 78px;
}

.side-bar-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  background: #040609;
  color: white;
  border: none;
  cursor: pointer;
  height: 37px;
  margin-bottom: 44px;
  padding: 4px;
}

.side-bar-btn > svg {
  fill: currentColor;
}

.side-bar-btn:hover {
  color: #4ef2af;
}

.side-bar-btn--active {
  color: #4ef2af;
}

.side-bar-btn > span {
  margin-left: 15px;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
}

.user-info {
  margin-top: 308px;
  margin-left: 35px;
}

.user-info > p {
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  color: #f3f3f4;
  margin-top: 20px;
  margin-left: -20px;
}

.side-bar-btn.logout-btn {
  margin-top: 140px;
}

.change-password-content {
  background-color: #f3f3f4;
  width: 100%;
  padding-top: 70px;
  padding-left: 77px;
  overflow-y: scroll;
}

.change-password-title {
  width: 708px;
  height: 56px;
  font-weight: 500;
  font-size: 40px;
  line-height: 60px;
}

.change-password-title ~ p {
  width: 832px;
  height: 47px;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: #524c4c;
  margin-top: 13px;
  margin-bottom: 58px;
}

.change-password-buttons {
  display: flex;
  margin-bottom: 160px;
}

.save-btn {
  width: 109px;
  height: 50px;
  background: #16c57e;
  border-radius: 37px;
  border: none;
  cursor: pointer;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
}

.save-btn:hover {
  background: #08a666;
}

.forgot-password-btn {
  width: 220px;
  height: 52px;
  background: #e9e9e9;
  border: 3px solid #aea6a6;
  border-radius: 50px;
  cursor: pointer;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: #846e6e;
  margin-left: 82px;
}

.forgot-password-btn:hover {
  background: #bdbdbd;
}
