.change-password-container {
  display: flex;
  flex-direction: row;
}

.change-password-container button:hover {
  transition: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.user-info {
  margin-top: 308px;
  padding: 35px;
  padding-left: 60px;
}

.user-info > p {
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  color: #f3f3f4;
  margin-top: 20px;
}

.change-password-content {
  background-color: #f3f3f4;
  width: 100%;
  padding-top: 70px;
  padding-left: 77px;
  overflow-y: scroll;
}

.change-password-title {
  width: 708px;
  height: 56px;
  font-weight: 500;
  font-size: 40px;
  line-height: 60px;
}

.change-password-title ~ p {
  width: 832px;
  height: 47px;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: #524c4c;
  margin-top: 13px;
  margin-bottom: 58px;
}

.change-password-buttons {
  display: flex;
  margin-bottom: 160px;
}

.save-btn {
  width: 109px;
  height: 50px;
  background: #16c57e;
  border-radius: 37px;
  border: none;
  cursor: pointer;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
}

.save-btn:hover {
  background: #08a666;
}

.forgot-password-btn {
  width: 220px;
  height: 52px;
  background: #e9e9e9;
  border: 3px solid #aea6a6;
  border-radius: 50px;
  cursor: pointer;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: #846e6e;
  margin-left: 82px;
}

.forgot-password-btn:hover {
  background: #bdbdbd;
}

.side-bar {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0;
  left: 0;
  background-color: #040609; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 32px; /* Place content 32px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
}

.side-bar::-webkit-scrollbar {
  display: none;
}

.side-bar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.side-bar-title {
  margin-left: 60px;
  margin-bottom: 56px;
  font-weight: 700;
  font-size: 30px;
  line-height: 45px;
  color: #16c57e;
}

.side-bar-btn {
  padding: 22px 50px 22px 60px;
  font-size: 24px;
  color: #f3f3f4;
  display: block;
  transition: 0.3s;
  background-color: #040609;
  border: none;
  cursor: pointer;
}

.side-bar-btn > svg {
  fill: currentColor;
}

.side-bar-btn:hover {
  color: #4ef2af;
}

.side-bar-btn--active {
  color: #4ef2af;
}

.side-bar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  background-color: #040609;
  border: none;
  color: white;
  cursor: pointer;
}

.side-bar .closebtn:hover {
  color: #4ef2af;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  color: #040609;
  background-color: #f3f3f4;
  padding: 10px 15px;
  border: none;
}

#main-content {
  transition: margin-left 0.5s; /* If you want a transition effect */
  padding: 20px;
}

@media only screen and (min-width: 768px) {
  .side-bar {
    width: 300px !important;
  }

  .openbtn {
    display: none;
  }

  .closebtn {
    display: none;
  }

  #main-content {
    margin-left: 300px !important;
  }
}
