.home {
  width: 100%;
  display: flex;
  flex-direction: row;
  height: 100%;
}
.top{
  display: flex;
  flex-direction: column;
  width: 100%;
}
.bottom{
  display: flex;
  flex-direction: column;
}
.content {
  padding: 0.5rem;
  width: 100%;
}
.modifyButton {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 10px;
  box-shadow: 0 2px 4px -1px #0003, 0 4px 5px 0 #00000024,
    0 1px 10px 0 #0000001f;
  background-color: rgb(243, 243, 243);
  width: 100%;
  padding: 1rem;
  margin: 1rem 0;
}
.textcenter {
  text-align: center;
}

.openbtn2 {
  font-size: 20px;
  cursor: pointer;
  background-color: #f3f3f3;
  color: #040609;
  padding: 10px 15px;
  border: none;
  position: absolute;
}

@media only screen and (min-width: 768px) {
  .openbtn2 {
    display: none;
  }
  .top{
    flex-direction: row;
    justify-content: space-between;
  }
}
@media screen and (min-width:1024px) {
  .bottom{
    flex-direction:row;
    justify-content: space-between;
  }
  .modifyButton{
    width: 28%;
  }
}