.home{
    display: flex;
    flex-direction: row;
}
.content{
    display: grid;
    grid-gap: 0.5rem;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    width: 100%;
    padding: 0.5rem;
    background-color: rgb(223, 223, 223);
}