.container{
    display: flex;
    flex-direction: column;
    background-color: rgb(228, 228, 228);
    padding: 1rem 0.5rem;
    border-radius: 5px;
    justify-content: space-between;
}
.portion {
    margin: 1rem 0;
    font-size: 1.5rem;
    border-bottom: 1px solid rgb(0, 0, 0,0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.portion p{
    color: #585858;
    margin-bottom: 1rem;
}
.portion div{
    display: flex;
    justify-content: space-between;
    font-weight: bold;
}
@media only screen and (min-width: 1024px){
    .container{
        flex-direction: row;
    }
    .portion {
        flex-direction: column;
        font-size: 1rem;
    }
    .portion div{
        width: 100%;
    }
}