.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f3f3f4;
  width: 100%;
  overflow-x: hidden;
}

.login-icon {
  margin-top: 95px;
  margin-bottom: 8px;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 393px;
  height: 390px;
}

.login-title {
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 80px;
  text-align: center;
  color: #16c57e;
}

.login-text {
  margin-top: 24px;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #040609;
}

.login-input {
  padding: 12px;
  width: 300px;
  height: 45px;
  background: #040609;
  border-radius: 10px;
  color: white;
  border: none;
}

.login-input::placeholder {
  color: white;
  opacity: 1; /* Firefox */
  font-size: 14px;
  line-height: 20px;
}

.login-input:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: white;
  font-size: 14px;
  line-height: 20px;
}

.login-input::-ms-input-placeholder {
  /* Microsoft Edge */
  color: white;
  font-size: 14px;
  line-height: 20px;
}

.username {
  margin-top: 36px;
}

.password {
  margin-top: 32px;
}

.remember-forgot-pass {
  margin-top: 24px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 300px;
}

.remember-forgot-pass a:link,
a:visited,
a:hover,
a:active {
  color: black;
}

.remember-me-container {
  display: block;
  position: relative;
  padding-left: 28px;
  cursor: pointer;
  font-size: 16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  line-height: 20px;
  text-align: center;
}

.remember-me-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #345b69;
  border-radius: 4px;
}

.remember-me-container:hover input ~ .checkmark {
  background-color: #22414d;
  transition: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.remember-me-container input:checked ~ .checkmark {
  background-color: #224957;
}

.checkmark:after {
  content: '';
  position: absolute;
  display: none;
}

.remember-me-container input:checked ~ .checkmark:after {
  display: block;
}

.remember-me-container .checkmark:after {
  left: 6px;
  top: 3px;
  width: 4px;
  height: 8px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.forgot-pass {
  text-decoration: none;
}

.login-button {
  margin-top: 24px;
  width: 300px;
  height: 45px;
  background: #16c57e;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  border: none;
}

.login-button:hover {
  background: #12a369;
  transition: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.login-button span {
  font-size: 16px;
  color: #224957;
}

.login-footer {
  margin-top: 46px;
}

.err-msg {
  color: red;
  margin-top: 8px;
}
