.passwordInput {
  display: flex;
  flex-direction: column;
  margin-bottom: 57px;
}

.passwordInput > label {
  width: 526px;
  height: 47px;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
}

.passwordInput > input {
  width: 408px;
  height: 66px;
  background: #ffffff;
  border: 3px solid #000000;
  border-radius: 14px;
  padding: 16px;
}

.passwordInput > input::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  width: 349px;
  height: 23px;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;

  color: #846e6e;
}
.passwordInput > input::-moz-placeholder {
  /* Firefox 19+ */
  width: 349px;
  height: 23px;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: #846e6e;
}
.passwordInput > input:-ms-input-placeholder {
  /* IE 10+ */
  width: 349px;
  height: 23px;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: #846e6e;
}
.passwordInput > input:-moz-placeholder {
  /* Firefox 18- */
  width: 349px;
  height: 23px;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: #846e6e;
}

.errorMessage {
  margin-top: 8px;
  color: red;
}
