.container{
    border-radius: 10px;
    box-shadow: 0 2px 4px -1px #0003, 0 4px 5px 0 #00000024, 0 1px 10px 0 #0000001f;
    background-color: rgb(243, 243, 243);
    width: 100%;
    padding: 1rem;
    grid-column: 1/3;
    grid-row: 2/3;
}
.text{
    display: flex;
    align-items: center;
    color:rgb(85, 85, 85);
}
.text span{
    margin-left: 0.5rem;
}
.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1rem;
    color: rgb(85, 85, 85);
}