.footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 1rem;
    color: rgb(85, 85, 85);
    font-weight: bold;
}
.footer span{
    font-size: 1rem;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 10px;
    box-shadow: 0 2px 4px -1px #0003, 0 4px 5px 0 #00000024, 0 1px 10px 0 #0000001f;
    background-color: rgb(243, 243, 243);
    width: 100%;
    padding: 1rem;
    margin: 1rem 0;
    width: 100%;
}
.container p{
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
}
.container div:first-child{
    width: 50%;
}
.text{
    display: flex;
    align-items: center;
    color:rgb(85, 85, 85);
}
.text span{
    margin-left: 0.5rem;
}
@media (min-width:768px) {
    .container{
        width: 32%;
    }
    .container p{
        font-size: 1rem;
    }
}
@media (min-width:1024px){
    .container p{
        font-size: 1.8rem;
    }
    .footer span{
        font-size: 1.5rem;
    }
}