.container {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.onOffBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.info {
  width: 100%;
  color: #585858;
  margin: 0 1rem;
}
.info p {
  color: #252525;
  margin: 0.5rem 0;
}
.onOffBar p {
  font-size: 0.8rem;
}
@media (max-width: 1200px) and (min-width: 1024px){
  .container svg {
    display: none;
  }
  .info{
      margin: 0;
  }
}
